.App {
  background-color: white;
  min-height: 100vh;
}

.Header {
  background-color: white;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  overflow: hidden;
  font-size: 0.9rem;
  border-bottom: 2px solid whitesmoke;
}

.Header_logo {
  height: 5rem;
}

.Header_center {
  > ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 1rem;
  }
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: gray;
  transition: ease-in;
}
.nav-links_active {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  scale: 1.1;
  transition: ease-in;
}

.Home {
  padding-inline: 1rem;
}

.carousel {
  max-width: 70rem;
  margin: auto;
}

.IP {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  > form {
    background-color: rgb(168, 168, 168);
    color: white;
    font-weight: bold;
    padding: 1.2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 2.5px 5px 10px #2c2c2c;

    > div {
      display: flex;
      align-items: center;
      gap: 1rem;
      > label {
        font-size: small;
      }
      > input {
        outline: none;
        border: 1px solid gray;
        border-radius: 3px;
        padding: 0.15rem;
        width: 300px;
      }
    }
    > button {
      background-color: black;
      border: none;
      color: white;
      font-weight: bold;
      padding: 0.25rem;
      border-radius: 0.25rem;
      cursor: pointer;
    }
  }
}

.Projects {
  padding: 1rem;
}
.Setting {
  padding: 1rem;
}
.Tasks {
  padding: 1rem;
}
.Team {
  padding: 1rem;
}
