.App {
  background-color: white;
  min-height: 100vh;
}

.Header {
  background-color: white;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  overflow: hidden;
  font-size: 0.9rem;
  border-bottom: 2px solid whitesmoke;
}

.Header_logo {
  height: 5rem;
}

.Header_center {
  > ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 1rem;
  }
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: gray;
  transition: ease-in;
}
.nav-links_active {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  scale: 1.1;
  transition: ease-in;
}

.Home {
  padding-inline: 1rem;
}

.carousel {
  max-width: 70rem;
  margin: auto;
}

.Projects {
  padding: 1rem;
}
.Setting {
  padding: 1rem;
}
.Tasks {
  padding: 1rem;
}
.Team {
  padding: 1rem;
}
